body{
  display: flex;
  justify-content: center;
  padding:3rem 0;
}

.calculator{
  width:60vh;
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  background: rgba(0,0,0,0.25);
 
}

 #answer{
  background-color: white;
  padding:10px;
  font-size:35px;
  width:100%;
  border:3px solid black;
  text-align: right;
  box-sizing: border-box;
}
.parent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.button{
  background: rgb(109, 109, 234);
  height: 5rem;
  width:8rem;
  color:black;
  font-size: 2rem;
  border:0.1px solid black;
  box-sizing: border-box;
}



.heading{
  text-align: center;
}